.prodContainer {
    height: 95vh;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

}

.btnWrapper {

    padding: 10px 0 10px 10px;
}

.btn {

    padding: 10px 14px 10px 14px;
    border: 2px solid rgb(141, 100, 179);
    background-color: rgb(176, 121, 227);
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid rgb(93, 64, 120);
}

.formWrapper{
    max-width: 100%;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}