@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.container {
    max-width: 100%;
    min-height: 95%;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.btnWrapper {

    padding: 10px 0 10px 10px;
}

.btn {

    padding: 5px 8px 5px 8px;
    border: 2px solid rgb(141, 100, 179);
    background-color: rgb(176, 121, 227);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid rgb(93, 64, 120);
}

.title {
    text-align: center;
    margin: 0 0 10px 0;

}